/* General Page Styles */
html{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
background-color: white;
}

body {
  margin: 0;
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex{
  display: flex;
}

/* Header Content Styles */


/* Banner Content Styles */
